/* You can add global styles to this file, and also import other style files */
/* import bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #f5f5f5;
}

